# Fill in Gemini credentials and make a copy of this file named .env to keep your credentials safe and out of version control. Do not share your .env file with anyone or commit it to any public repositories.
GEMINI_API_KEY=AIzaSy...